<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <footer>
        <div class="footer_wrap">
            <div class="footer_logo">
                <img src="/img/logo.png">
                <h3>Share Tour</h3>
            </div>
            <div class="footer_info">
                <img src="/img/call.png">
                <div class="text">
                    <p>사업자:김태인, 박상범, 전창민, 최연우, 한아름</p>
                    <p>주소 : 서울특별시 종로구 창경궁로 254</p>
                    <p>호스팅 사업자 : 혜화스터디</p>
                </div>

            </div>
            <div class="footer_info">
                <img  src="/img/kakao.png">
                <div class="text">
                    <h4>고객센터 : KAKAO "Share Tour" 친구추가</h4>
                    <p>대표 전화 번호 : 010-3344-2352</p>
                </div>
            </div>
        </div>
    </footer>
</div>
</html>