<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <footer>
        <div class="footer_wrap">
            <div class="footer_top">
                <div class="footer_logo">
                    <img src="/img/logo.png">
                </div>
            </div>
            <div class="footer_info">
                <p>저희 1팀의 프로젝트 메인페이지 구상입니다</p>
                <p>사업자:김태인, 박상범, 전창민, 최연우, 한아름</p>
                <p>지금까지 1팀의 메인페이지 구성이었습니다. 지금까지 봐주셔서 감사합니다. 앞으로 지금보다 더
                    발전될 수 있는 팀이 되어 업그레이드 버전을 팀원들과 열심히 제작하도록 하겠습니다 감사합니다
                </p>
            </div>
        </div>
    </footer>
</div>
</html>